# MacOs binary
.DS_Store
# Bibliography
The art of multiprocessor programming.pdf
# Binary files:
Practica2/src/*.class
Practica2/Filtros/
Practica2/Sopa_de_letras/
Practica2/Suma_Matrices/
Practica2/Suma_N/
